@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

html {
  font-family: "Inter Tight", sans-serif;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  white-space: nowrap;
  display: flex;

  gap: 800px;
}

.logos-slide {
  white-space: nowrap;
  display: flex;
  animation: 8s slide infinite linear;
}
.logos-slide img {
  height: 30px;
  margin: 0 40px;
}
