@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

html {
  scroll-behavior: smooth;
  font-family: "Inter Tight", sans-serif;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos-slide {
  animation: 15s slide infinite linear;
}
.logos-slide img {
  height: 30px;
  margin: 0 40px;
}
